.container {
  background: #e7e7e7;
  max-width: 1150px;
  margin: 0 auto;
  display: block;
  min-height: 500px;
}

.center-content {
  margin: 0 auto;
  width: 900px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  align-items: center;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.exchange-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.exchange-container button {
  font-size: 15px;
  margin: 0 50px;
}



